div.none{
    border: 1px solid black;
    color: chocolate;
    background-color: lightblue;
}

div.youtube{
    border: 1px solid black;
    color: aqua;
    background-color: grey;
}

div.streamer{
    border: 1px solid black;
    color: blue;
    background-color: lightgreen;
}

.false{
    border: 2px solid red;
    color: red;
    width: 10%;
}

.true{
    border: 2px solid green;
    color: green;
    width: 10%;
}

.failed{
    color: red;
    font-weight: bold;
}