div.none{
    border: 1px solid black;
    color: chocolate;
    background-color: lightblue;
}

div.youtube{
    border: 1px solid black;
    color: aqua;
    background-color: grey;
}

div.streamer{
    border: 1px solid black;
    color: blue;
    background-color: lightgreen;
}