<mat-card class="container youtuber-{{contentItem?.id}}">
    <mat-card-header>
        <mat-card-title>{{ contentItem ? contentItem.title : "" }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="creator">{{ contentItem ? contentItem.creator : "" }}</div>

        <div appHoverAffect styleType="underline" *ngIf="contentItem ? contentItem.type : ''" class="type">
            Type: {{ contentItem ? contentItem.type : '' }}
        </div>

        <div *ngIf="contentItem?.tags" class="tags">
            <mat-chip-list aria-label="contentItem tags" *ngFor="let tag of contentItem?.tags">
                <mat-chip>#{{tag}}</mat-chip>
            </mat-chip-list>
        </div>
    </mat-card-content>
    <img mat-card-image [src]="contentItem?.imgURL != null ? contentItem?.imgURL : 'https://www.google.com/url?sa=i&url=https%3A%2F%2Flogos-world.net%2Fyoutube-logo%2F&psig=AOvVaw1AKDDgTxxLPuLtHEPMKyU1&ust=1649730779784000&source=images&cd=vfe&ved=0CAoQjRxqFwoTCJD9uJz8ivcCFQAAAAAdAAAAABAD'" (click)="clicked()">
    <button mat-raised-button color="primary"><a routerLink="/list/{{contentItem?.id}}" routerLinkActive="active">Details</a></button>
</mat-card>